<footer class="footer">
    <div class="container">
        <div class="title title--footer">LevelUp</div>
        <div id="CDT"></div>
        <div class="footer__footer">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="footer__price">
                        <div class="promo__img">
                            <img src="assets/images/doctor.png" alt="">
                        </div>
                        <div class="footer__sale">
                            <div class="last-price">
                               Старая цена: 1500
                            </div>
                            <div class="new-price">
                                <div class="text">Новая цена:</div>
                               <div class="price">1000</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="form" >
                        <div class="form__title">
                            Оставьте заявку на заказ
                        </div>
                        <div class="form__form">
                            <form id="form1" method="post" action="send.php" class="form__block">
                                <div class="form__blocks">
                                    <div class="form__block-link">
                                        <label for="fname">Ваше имя</label>
                                        <input type="text" class="form-control" id="fname" name="fname" placeholder="Введите имя"></input>
                                    </div>
                                    <div class="form__block-link">
                                        <label for="phone">Телефон</label>
                                        <input type="tel"  class="form-control" id="phone" name="phone" placeholder="+ _ (___) ___-____">
                                    </div>
                                </div>
                                <button type="submit" value="Submit" class="btn btn-light" >Заказать </button>
        
                            </form>
                        </div>
                        <p class="form__p">Я подтверждаю, что ознакомлен и даю согласие на обработку персональных анных на условиях и для целей, определяемых <a href="" class="form__a">Политикой конфиденциальности</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
