<header class="header">
    <div id="video-bg">
        <video width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto" >
            <source src="assets/images/bg-video.mp4" type="video/mp4"></source>
            <source src="assets/images/bg-video.webm" type="video/webm"></source>
        </video>
    </div>

    <div class="container">
        <div class="header">
            <div class="header__top">
                <div class="header__top-logo">
                    <div class="title--logo">
                        <a href="/">LevelUp</a>
                    </div>
                </div>
                <div class="header__top-nav">
                    <nav class="nav">
                        <ul>
                            <li class="nav__link"> Состав продукта</li>
                            <li class="nav__link"> Отзывы</li>
                            <li class="nav__link"> Промо</li>
                            <li class="nav__link"> Форма заказа</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header__main">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="header__main-img">
                            <img src="assets/images/prod.png" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="header__main-info">
                            <div class="title">Характеристики</div>
                            <nav class="list">
                                <ul>
                                    <li class="link">Отличный продукт</li>
                                    <li class="link">Лучшее качество</li>
                                    <li class="link">Самая выгодная цена</li>
                                </ul>
                            </nav>
                            <button type="button" id="btn-scroll" class="btn btn-light btn--header">Заказать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
